artist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Sun Sep 17 2017 00:48:44 GMT+0700 (SE Asia Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="Artist">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="country" type="xs:string"></xs:element>
                            <xs:element name="company" type="xs:string"></xs:element>
                            <xs:element name="album">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="song" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="length" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="melody" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="lyrics" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                          <xs:attribute name="year" type="xs:int"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="award">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="description" type="xs:string"></xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>